<app-header-user></app-header-user>
<app-navbar></app-navbar>



<h2 class="text-center">Categories</h2>
<!-- Categories End -->

<div class="container mt-3">

  <div class="row row-cols-2 row-cols-md-2 row-cols-lg-3 g-4" >

    <!-- Tarjeta 1 -->
    <div class="col">
      <div class="card cat-item d-flex flex-column border mb-4">
        <a href="" class="cat-img position-relative overflow-hidden mb-3"></a>
        <p class="text-right m-2">100 Products</p>
        <a routerLink="/Catalogue">
        <img src="assets/img/industria.png" class="img mt-2 card-img-top" alt="Imagen 2"></a>
        <div class="card-body">
          <h5 class="card-title">Home goods</h5>
        </div>
      </div>
    </div>

    <!-- Tarjeta 2 -->
    <div class="col">
      <div class="card cat-item d-flex flex-column border mb-4">
        <a href="" class="cat-img position-relative overflow-hidden mb-3"></a>
        <p class="text-right m-2">100 Products</p>
        <a routerLink="/Catalogue">
        <img src="assets/img/lap.png" class="img mt-2 card-img-top" alt="Imagen 2"></a>
        <div class="card-body">
          <h5 class="card-title">Technology</h5>
        </div>
      </div>
    </div>

    <!-- Tarjeta 3 -->
    <div class="col">
      <div class="card cat-item d-flex flex-column border mb-4">
        <a href="" class="cat-img position-relative overflow-hidden mb-3"></a>
        <p class="text-right m-2">100 Products</p>
        <a routerLink="/Catalogue">
        <img src="assets/img/zapatos.png" class="img mt-2 card-img-top" alt="Imagen 3"></a>
        <div class="card-body">
          <h5 class="card-title">Footwear</h5>
        </div>
      </div>
    </div>

    <!-- Tarjeta 3 -->
    <div class="col">
      <div class="card cat-item d-flex flex-column border mb-4">
        <a href="" class="cat-img position-relative overflow-hidden mb-3"></a>
        <p class="text-right m-2">100 Products</p>
        <a routerLink="/Catalogue">
        <img src="assets/img/tools.png" class="img mt-2 card-img-top" alt="Imagen 3"></a>
        <div class="card-body">
          <h5 class="card-title">Tools</h5>
        </div>
      </div>
    </div>
    <!-- Tarjeta 3 -->
    <div class="col">
      <div class="card cat-item d-flex flex-column border mb-4">
        <a href="" class="cat-img position-relative overflow-hidden mb-3"></a>
        <p class="text-right m-2">100 Products</p>
        <br>
<a routerLink="/Catalogue">
        <img src="assets/img/deporte.png" class="img mt-5 card-img-top" width="500px" alt="Imagen 3"></a>
        <div class="card-body">
          <h5 class="card-title mt-5">Sport</h5>
        </div>
      </div>
    </div>
    <!-- Tarjeta 3 -->
    <div class="col">
      <div class="card cat-item d-flex flex-column border mb-4">
        <a href="" class="cat-img position-relative overflow-hidden mb-3"></a>

        <p class="text-right m-2">100 Products</p>
<a routerLink="/Catalogue">
        <img src="assets/img/mueble.png" class="img mt-5 card-img-top" alt="Imagen 3"></a>
        <div class="card-body">
          <h5 class="card-title mt-3">Furniture</h5>
        </div>
      </div>
    </div>
    <!-- Tarjeta 4 -->
    <div class="col">
      <div class="card cat-item d-flex flex-column border mb-4">
        <a href="" class="cat-img position-relative overflow-hidden mb-3"></a>
        <p class="text-right m-2">100 Products</p>
<a routerLink="/Catalogue">
        <img src="assets/img/belleza.png" class="img mt-2 card-img-top" alt="Imagen 4">
</a>        <div class="card-body">
          <h5 class="card-title">Personal Care Products</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card cat-item d-flex flex-column border mb-4">
        <a href="" class="cat-img position-relative overflow-hidden mb-3"></a>
        <p class="text-right m-2">100 Products</p>
        <br>
<a routerLink="/Catalogue">
        <img src="assets/img/auto.png" class="img mt-2 card-img-top" width="80%" alt="Imagen 4"></a>
        <div class="card-body">
<br>
          <h5 class="card-title mt-3">Automobiles and Related</h5>
        </div>

      </div>
    </div>

    <div class="col">
      <div class="card cat-item d-flex flex-column border mb-4">
        <a href="" class="cat-img position-relative overflow-hidden mb-3"></a>
        <p class="text-right m-2">100 Products</p> <br> <br>
        <a routerLink="/Catalogue">
        <img src="assets/img/ropa.png" class="img mt-2 card-img-top" alt="Imagen 3">
   </a>     <div class="card-body"> <br>
          <h5 class="card-title mt-3">Clothes</h5> <br>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
