.nav{
  background-color: rgb(8, 8, 8);
}


.img{
  border-radius: 10px;
  align-items: center;
}

h5{
  text-align: center;
}

.cards{
  border-color: black;
  border-radius: 10px;
  height: 380px;
}

@media (max-width: 768px) {
  .card {
    height: 450px;
  }
  .nav{
    margin-top: 10px;
    margin-bottom: 20px;
  }


}
