




<div class="container">
  <div class="table-container">
    <div class="search-container">
      <input type="text" placeholder="Search" class="search-input" >
      <select class="border p-2 rounded-lg" #pageSize (change)="changePageSize(pageSize.value)">
        <option *ngFor="let size of pageSizes" [value]="size">{{size}}</option>
      </select>
    </div>

    <table class="data-table">
      <thead>
        <tr>
          <th>Stock</th>
          <th>Products</th>
          <th>Image</th>
          <th>Description</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="tableBody">
        <tr *ngFor="let product of listProducts; let i = index" class="border-b hover:bg-gray-100">
          <td class="p-3">{{product.stock}}</td>
          <td class="p-3">{{product.name}}</td>
          <td class="p-3"><img [src]="product.image" alt="" style="max-width: 100px;"></td>
          <td class="p-3">{{product.description}}</td>
          <td class="p-3">{{product.price}}</td>
          <td class="p-3">
            <button class="detail">Edit</button>
            <button (click)="deleteProduct(product.id)" class="detail">Delete</button>
            <button class="detail">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination-container">
    <button class="btn bg-cyan-500  px-4 py-2 rounded-l-lg mr-2" (click)="previousPage()">Previous</button>
    <button *ngFor="let pageNumber of pageNumbers(); let i = index" class="btn bg-cyan-500  px-4 py-2 rounded-lg mx-1" [class.bg-cyan-700]="i+1 == currentPage" [class.text-gray-600]="i+1 != currentPage" (click)="changePage(i+1)">{{i+1}}</button>
    <button class="btn bg-cyan-500 px-4 py-2 rounded-r-lg ml-2" (click)="nextPage()">Next</button>
  </div>
</div>


  <button class="detail2" (click)="agregarProducto()">Agregar Producto</button>
  
