<app-header-seller></app-header-seller>
<div class="container mt-3">
  <h2>My orders</h2>
  <p>In this section you can control your orders</p>
  <table class="table table-bordered table-hover">
    <thead>
      <tr class="text-center">
        <th>Id</th>
        <th>User</th>
        <th>Products</th>
        <th>Details</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center">
        <td>1</td>
        <td>John</td>
        <td>Laptop</td>
        <td>Street 23</td>
        <td>Approved</td>
        <button class="btn btn-info">Send</button>
        <button class="btn btn-danger ml-1">Delete</button>

      </tr>
      <tr class="text-center">
        <td>2</td>
        <td>Mary</td>
        <td>Laptop</td>
        <td>Street 13</td>
        <td>Approved</td>
        <button class="btn btn-info">Send</button>
        <button class="btn btn-danger ml-1">Delete</button>
      </tr>
      <tr class="text-center">
        <td>3</td>
        <td>July</td>
        <td>Dooley</td>
        <td>Street 93</td>
        <td>Approved</td>
        <button class="btn btn-info">Send</button>
        <button class="btn btn-danger ml-1">Delete</button>
      </tr>
    </tbody>
  </table>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>
<app-footer></app-footer>
```
