<app-header-user></app-header-user>
<div class="container-fluid mb-5">
  <div class="row border-top px-xl-5">
    <div class="col-lg-12">
      <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
        <a href="" class="text-decoration-none d-block d-lg-none">
          <h1 class="m-0 display-5 font-weight-semi-bold">
            <img src="assets/img/HIVEXed.png" alt="" />
          </h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav mr-auto py-0">
            <a href="index.html" routerLink="/inicio" class="nav-item nav-link active">Home</a>
            <a href="shop.html" routerLink="/categories" class="nav-item nav-link">Products</a>
            <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
              <div class="dropdown-menu rounded-0 m-0">
                <a href="cart.html" class="dropdown-item">Shopping Cart</a>
                <a href="checkout.html" class="dropdown-item">Checkout</a>
              </div>
            </div>
            <a href="contact.html" routerLink="/contact" class="nav-item nav-link">Contact</a>
          </div>
          <div class="navbar-nav ml-auto py-0">
            <a href="" routerLink="/login" class="nav-item nav-link">Login</a>
            <a href="" routerLink="/register" class="nav-item nav-link">Register</a>
          </div>
        </div>
      </nav>

      <!-- Section: Design Block -->
      <section class="">
        <!-- Jumbotron -->
        <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
          <div class="container">
            <div class="row gx-lg-5 align-items-center">
              <div class="col-lg-6 mb-5 mb-lg-0">
                <h1 class="my-5 display-3 fw-bold ls-tight">
                  HIVEX <br />
                  <span class="text-primary">your best option</span>
                </h1>
                <p style="color: hsl(217, 10%, 50.8%)">
                  hivex is an application for users and sellers where you can negotiate and buy products
                </p>
              </div>

              <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card">
                  <div class="card-body py-5 px-md-5">
                    <form [formGroup]="UserForm" (ngSubmit)="addUser()" #registerForm="ngForm" novalidate>
                      <H1>REGISTER</H1>
                      <div class="row">
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <label class="form-label" for="form3Example1">First name</label> <br>

                            <input type="text" id="form3Example1" placeholder="Enter name" class="form-control"
                              formControlName="name" name="firstName" required />
                            <span *ngIf="UserForm.get('name')?.hasError('required') && UserForm.get('name')?.touched"
                              class="text-danger errorLabel">
                              <strong>Name</strong> it is required.
                            </span>
                          </div>
                        </div>
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <label class="form-label" for="form3Example3">Email address</label> <br>

                            <input type="email" id="form3Example3" placeholder="Enter email" class="form-control"
                              formControlName="email" name="email" required />
                            <span *ngIf="UserForm.get('email')?.hasError('required') && UserForm.get('email')?.touched"
                              class="text-danger errorLabel">
                              <strong>Email</strong> it is required.
                            </span>
                            <span *ngIf="UserForm.get('email')?.hasError('email') && UserForm.get('email')?.touched" class="text-danger errorLabel">
                              <strong>Email</strong> It's not valid
                            </span>
                          </div>
                        </div>
                      </div>



                      <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example4">Password</label>
                        <input type="password" id="form3Example4" placeholder="Enter password" class="form-control"
                          formControlName="password" name="password" required />
                        <span
                          *ngIf="UserForm.get('password')?.hasError('required') && UserForm.get('password')?.touched"
                          class="text-danger errorLabel">
                          <strong>Password</strong> it is required.
                        </span>
                        <span *ngIf="UserForm.get('password')?.hasError('minlength') && UserForm.get('password')?.touched" class="text-danger errorLabel">
                          <strong>Password</strong> It must have a minimum of 6 characters.
                         </span>
                      </div>
                      <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example5">Confirmation</label>
                        <input type="password" id="form3Example5" placeholder="Enter password" class="form-control"
                          name="confirmation" formControlName="confirmation" />
                      </div>
                      <div class="d-flex justify-content-center align-items-center">
                        <button class="btn btn-success" [disabled]="loading" *ngIf="loading">
                          <span class="spinner-border spinner-border-sm mb-2"></span>
                          Loading..
                        </button>
                      </div> <br>

                      <button *ngIf="!loading" type="submit" [disabled]="UserForm.invalid" class="btn btn-primary btn-block mb-4">Sign up</button>


                    </form>
                    or Sign in with: <br>
                    <button (click)="signInWithGoogle()" class="btn google-signin-button" style="background-color: transparent; border: none;">
                      <i class="fab fa-google" style="color: #FFD700; font-size: 24px;" 
                        onmouseover="this.style.color = 'black'" onmouseout="this.style.color = '#FFD700'"></i>
                    </button>
                    <div class="text-center">
                      <a routerLink="/login">
                        <p style="color:black">You already have an account?: Login</p>
                      </a>
        
        
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
