<app-header-seller></app-header-seller>
<br><br>


<div class="container">
  <div class="row ">
      <div class="col-8 form mx-auto">
          <h2 class="text-center mb-4">Product Form</h2>

<form [formGroup]="ProductForm"  (ngSubmit)="addProduct()">
  <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="row mb-4">
    <div class="col">
      <div data-mdb-input-init class="form-outline">
        <input type="text" formControlName="name" placeholder="Enter the name" class="form-control in" />
        <label class="form-label" >Name product</label>
      </div>
    </div>
    <div class="col">
      <div data-mdb-input-init class="form-outline">
        <input type="number" id="price" formControlName="price" placeholder="Enter the price" class="form-control in" />
        <label class="form-label"  for="form6Example2">Price product</label>
      </div>
    </div>
  </div>

  <!-- Text input -->
  <div data-mdb-input-init class="form-outline mb-4">
    <input type="file" id="image" formControlName="image" class="form-control in" />
    <label class="form-label"  for="form6Example3">Image</label>
  </div>

  <!-- Text input -->
  <div data-mdb-input-init class="form-outline mb-4">
    <input type="number" id="stock" formControlName="stock" placeholder="Enter the stock" class="form-control in" />
    <label class="form-label"  for="form6Example4">Stock</label>
  </div>

  <!-- Email input -->
  <div data-mdb-input-init class="form-outline mb-4">

    <select id="form6Example5" formControlName="category" class="form-control">
        <option value="1">Electronics</option>
        <option value="2">Clothing</option>
        <option value="3">Books</option>
        <option value="4">Home & Garden</option>
        <option value="5">Sports & Outdoors</option>
    </select>
    <label class="form-label" id="category" for="form6Example5">Category</label>:
  </div>



  <!-- Message input -->
  <div data-mdb-input-init class="form-outline mb-4">
    <textarea class="form-control" formControlName="description" placeholder="Enter the description product" id="description" rows="4"></textarea>
    <label class="form-label"  for="form6Example7">Description product</label>
  </div>



  <!-- Submit button -->
  <button data-mdb-ripple-init type="submit" class="btn in black btn-block mb-4">Create</button>
</form>
      </div>
  </div>
</div>



<br><br><br><br><br><br><br><br>
<app-footer></app-footer>
