<app-header-user></app-header-user>


<!-- Navbar End -->
<app-navbar-init></app-navbar-init>
<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-3">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
    <h1 class="font-weight-semi-bold textUni text-uppercase mb-2">Welcome to Hivex university</h1>
    <div class="d-inline-flex">
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Barra de navegación vertical -->
<div class="container mt-4">
  <h2 class=" title text-center">Users</h2>
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card " style="width: 20rem;">
        <img src="assets/img/userVideo1.webp" class="img card-img-top" alt="Imagen 1">
        <div class="icono-play"></div>
        <div class="card-body">
          <h5 class="card-title">How to start in the app?</h5>
          <p class="card-text">Texto de la tarjeta 1.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 ">
      <div class="card " style="width: 20rem;">
        <img src="assets/img/userVideo2.webp" class="img card-img-top" alt="Imagen 1">
        <div class="icono-play"></div>
        <div class="card-body">
          <h5 class="card-title">How to start in the app?</h5>
          <p class="card-text">Texto de la tarjeta 1.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card " style="width: 20rem;">
        <img src="assets/img/hivex2.jpg" class="img card-img-top" alt="Imagen 2">
        <div class="icono-play"></div>
        <div class="card-body">
          <h5 class="card-title">How to buy?</h5>
          <p class="card-text">Texto de la tarjeta 2.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-3">
      <div class="card " style="width: 20rem;">
        <img src="assets/img/hivex2.jpg" class="img card-img-top" alt="Imagen 2">
        <div class="icono-play"></div>
        <div class="card-body">
          <h5 class="card-title">How to record your data well</h5>
          <p class="card-text">Texto de la tarjeta 2.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mt-3" style="width: 20rem;">
        <img src="assets/img/hivex3.jpg"  class="img card-img-top" alt="Imagen 3">
        <div class="icono-play"></div>
        <div class="card-body">
          <h5 class="card-title">How to make a return?</h5> <br>
          <p class="card-text">Texto de la tarjeta 3.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container mt-5">
  <h2 class=" title text-center">Seller</h2>
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card " style="width: 20rem;">
        <img src="assets/img/sellerVideo1.jpg" class="img card-img-top" alt="Imagen 1">
        <div class="icono-play"></div>
        <div class="card-body">
          <h5 class="card-title">How to start in the app?</h5>
          <p class="card-text">Texto de la tarjeta 1.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 ">
      <div class="card " style="width: 20rem;">
        <img src="assets/img/sellerVideo2.jpg" class="img card-img-top" alt="Imagen 1">
        <div class="icono-play"></div>
        <div class="card-body">
          <h5 class="card-title">How to start in the app?</h5>
          <p class="card-text">Texto de la tarjeta 1.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card " style="width: 20rem;">
        <img src="assets/img/hivex2.jpg" class="img card-img-top" alt="Imagen 2">
        <div class="icono-play"></div>
        <div class="card-body">
          <h5 class="card-title">How to buy?</h5>
          <p class="card-text">Texto de la tarjeta 2.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-3">
      <div class="card " style="width: 20rem;">
        <img src="assets/img/hivex2.jpg" class="img card-img-top" alt="Imagen 2">
        <div class="icono-play"></div>
        <div class="card-body">
          <h5 class="card-title">How to record your data well</h5>
          <p class="card-text">Texto de la tarjeta 2.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mt-3" style="width: 20rem;">
        <img src="assets/img/hivex3.jpg"  class="img card-img-top" alt="Imagen 3">
        <div class="icono-play"></div>
        <div class="card-body">
          <h5 class="card-title">How to make a return?</h5> <br>
          <p class="card-text">Texto de la tarjeta 3.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
