<app-navv></app-navv>

<div class="admin-panel">
  <h2 class="titulo">Empresas</h2>
  <div class="company-list">
    <div class="company-item" *ngFor="let company of companies">
      <h3>{{ company.name }}</h3>
      <p><strong>Dirección:</strong> {{ company.address }}</p>
      <p><strong>Contacto:</strong> {{ company.contact }}</p>
      <p><strong>Documentos:</strong> {{ company.documents.join(', ') }}</p>
      <div class="approval-buttons">
        <button class="approve-button" (click)="aprobarEmpresa(company)">Aprobar</button>
        <button class="reject-button" (click)="rechazarEmpresa(company)">Rechazar</button>
      </div>
    </div>
  </div>
</div>
