

<div class="card-container">
    <div class="card">
      <h2>MIS PRODUCTOS</h2>
      <a href="/product-list">Agregar, editar y eliminar productos</a>
      <a href="vista2.html">Ver estadísticas de productos</a> 
     
    </div>
    <div class="card">
      <h2>VERIFICACION</h2>
      <a href="/empresas">Verificar empresas</a>
      <a href="/productos">Verificacion de productos</a> 
      <a href="vista2.html"></a>
    </div>
    <div class="card">
      <h2>LISTA DE PRODUCTOS</h2>
      <a href="/allproducts">Todos los productos</a>
      
    </div>
  </div>

  <div class="card-container2">
    <div class="card">
      <h2>GESTION DE USUARIOS</h2>
      <a href="/usuarios">Ver la lista de usuarios registrados</a>
     
    </div>
    <div class="card">
      <h2>CHATS</h2>
      <a href="vista2.html"></a>
      <a href="vista2.html"></a> 
      <a href="vista2.html"></a>
    </div>
    <div class="card">
      <h2>SOPORTE Y MENSAJES</h2>
      <a href="/mensajes-clientes">Ver y responder mensajes de clientes</a>
      
      <a href="vista2.html"></a>
    </div>
  </div>

  
  