<app-navv></app-navv>

<div class="card-container">
    <div class="card">
      <h2>MIS PRODUCTOS</h2>
      <a href="/product-list">Agregar, editar y eliminar productos</a>
      <a href="vista2.html">Ver estadísticas de productos</a> 
      <a href="vista2.html">Gestionar categorías y etiquetas de productos</a>  
    </div>
    <div class="card">
      <h2>VERIFICACION</h2>
      <a href="/empresas">Verificar empresas</a>
      <a href="/productos">Verificacion de productos</a> 
      <a href="vista2.html"></a>
    </div>
    <div class="card">
      <h2>LISTA DE PRODUCTOS</h2>
      <a href="vista2.html">Todos los productos</a>
      <a href="vista2.html">Categorias</a> 
      <a href="vista2.html">Empresas</a>
    </div>
  </div>

  <div class="card-container">
    <div class="card">
      <h2>GESTION DE USUARIOS</h2>
      <a href="vista2.html">Ver la lista de usuarios registrados</a>
      <a href="vista2.html">Gestionar permisos de usuario y roles</a> 
      <a href="vista2.html">Bloquear o eliminar cuentas de usuario</a>
    </div>
    <div class="card">
      <h2>CHATS</h2>
      <a href="vista2.html"></a>
      <a href="vista2.html"></a> 
      <a href="vista2.html"></a>
    </div>
    <div class="card">
      <h2>SOPORTE Y MENSAJES</h2>
      <a href="/mensajes-clientes">Ver y responder mensajes de clientes</a>
      <a href="vista2.html">Ofrecer soporte en línea o través de tickets de ayuda</a> 
      <a href="vista2.html"></a>
    </div>
  </div>

  