/* Estilos comunes para todas las pantallas */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin-top: 165px;
}

.card-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin-top: 92px;
}

.card {
  width: calc(30% - 20px); /* Calcula el ancho de la tarjeta teniendo en cuenta el espacio entre ellas */
  margin: 10px; /* Ajusta el margen entre las tarjetas */
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 11px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card a {
  color: #818181;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.card a:hover {
  color: rgb(206, 168, 0);
}

/* Estilos específicos para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .card {
    width: calc(50% - 20px); /* Ajusta el ancho de la tarjeta para que sean dos tarjetas por fila */
  }
}

/* Estilos específicos para pantallas extra pequeñas */
@media screen and (max-width: 480px) {
  .card {
    width: calc(100% - 20px); /* Ajusta el ancho de la tarjeta para que ocupe toda la fila */
  }
}


