<app-header-user></app-header-user>
<div class="container-fluid">
  <div class="row border-top px-xl-5">
    <div class="col-lg-12">
      <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
        <a href="" class="text-decoration-none d-block d-lg-none">
          <h1 class="m-0 display-5 font-weight-semi-bold">
            <img src="assets/img/HIVEXed.png" alt="" />
          </h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav mr-auto py-0">
            <a routerLink="/inicio" class="nav-item nav-link ">Home</a>



            <a routerLink="/university" class="nav-item nav-link">University</a>
            <a routerLink="/contact" class="nav-item nav-link">Contact</a>
            <a routerLink="/homeSeller" class="nav-item nav-link">Seller</a>
          </div>
          <div class="navbar-nav ml-auto py-0">
            <a href="" routerLink="/loginSeller" class="nav-item nav-link">Login seller</a>
            <a routerLink="/registerSeller" class="nav-item nav-link">Register seller</a>
          </div>
        </div>
      </nav>

    </div>
  </div>
</div>


<!-- Navbar End -->

<!-- Topbar End -->
<!-- Navbar Start -->
<div class="container-fluid mb-5">
  <div class="row border-top px-xl-5">
    <div class="col-lg-3 d-none d-lg-block">



    </div>
    <div class="col-12">
      <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
        <a class="text-decoration-none d-block d-lg-none">
          <h1 class="m-0 display-5 font-weight-semi-bold">

          </h1>
        </a>


      </nav>
      <div>
        <div id="header-carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" style="height: 410px">
              <img class="img-fluid" src="assets/img/vendedor1.webp" alt="Image" />
              <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 700px">
                  <h4 class="text-light text-uppercase font-weight-medium mb-3">
                    Millions of offers
                  </h4>
                  <h3 class="display-4 text-white font-weight-semi-bold mb-4">
                    Expand your business
                  </h3>

                  <a  routerLink="/loginSeller"
                    class="btn btn-light py-2 px-3">Start now</a>

                </div>
              </div>
            </div>
            <div class="carousel-item" style="height: 410px">
              <img class="img-fluid" src="assets/img/vendedor2.jpg" alt="Image" />
              <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 700px">
                  <h4 class="text-light text-uppercase font-weight-medium mb-3">
                    Start selling now
                  </h4>
                  <h3 class="display-4 text-white font-weight-semi-bold mb-4">
                    Sell your product to the world
                  </h3>

                  <a routerLink="/loginSeller" class="btn btn-light py-2 px-3">Start now</a>

                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item" style="height: 410px">
            <img class="img-fluid" src="assets/img/mesas.webp" alt="Image" />
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
              <div class="p-3" style="max-width: 700px">
                <h4 class="text-light text-uppercase font-weight-medium mb-3">
                  10% Off Your First Order
                </h4>
                <h3 class="display-4 text-white font-weight-semi-bold mb-4">
                  Reasonable Price
                </h3>

                <a routerLink="/loginSeller" class="btn btn-light py-2 px-3">Start now</a>


              </div>
            </div>
          </div>

          <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
            <div class="btn btn-dark" style="width: 45px; height: 45px">
              <span class="carousel-control-prev-icon mb-n2"></span>
            </div>
          </a>
          <a class="carousel-control-next" href="#header-carousel" data-slide="next">
            <div class="btn btn-dark" style="width: 45px; height: 45px">
              <span class="carousel-control-next-icon mb-n2"></span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Navbar End -->


<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 ">
      <div class="card cards tarjeta-con-animacion">
        <img src="assets/img/mundo.jpg" class="img card-img-top" height="240px" alt="Imagen de la tarjeta">
        <div class="card-body">
          <h5 class="card-title text-center">Welcome to our global sales platform</h5>
          <p class="card-text">Join our community of sellers and take your business to the next level!
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card cards tarjeta-con-animacion">
        <img src="assets/img/mano.avif" class="img card-img-top" height="240px" alt="Imagen de la tarjeta">
        <div class="card-body">
          <h5 class="card-title text-center"> Expanding borders, expanding opportunities</h5>
          <p class="card-text">On our platform, we believe in breaking down barriers.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card cards tarjeta-con-animacion">
        <img src="assets/img/estadistica.avif" class="img card-img-top" height="240px" alt="Imagen de la tarjeta">
        <br>
        <div class="card-body">
          <h5 class="card-title text-center">Boost your sales worldwide</h5>
          <p class="card-text">Are you ready to take your business to the world stage?</p>

        </div>
      </div>
    </div>
  </div>
</div>





<div class="container mt-5 border ">
  <div class="row ">
    <!-- Texto a la derecha, imagen a la izquierda -->
    <div class="col-md-6">
      <img src="assets/img/mercancia.webp" width="400px" class="img img-fluid" alt="Imagen">
    </div>
    <div class="col-md-6">
      <h2 class="text-center">Why Choose "HIVEX"?</h2>
      <p>At "HIVEX", we are not just another digital marketplace; we are your trusted partner in sourcing
        top-tier manufacturing solutions from over 12,000 Mexican factories, right at your fingertips.
        Wondering why you should choose us? Here’s why:</p>
    </div>
  </div>

  <div class="row mt-5 ">
    <!-- Texto a la izquierda, imagen a la derecha -->
    <div class="col-md-6">
      <h2 class="text-center">Unparalleled Manufacturer Network</h2>
      <p>Join a vast community of more than 12,000 verified Mexican manufacturers, ensuring you have an
        extensive range of options at your disposal. From electronics to textiles, automotive to aerospace –
        we’ve got it all covered.</p>
    </div>
    <div class="col-md-6">
      <img src="assets/img/manufacturer.jpg" width="400px" class="img img-fluid" alt="Imagen">
    </div>
  </div>
  <br>
  <div class="row ">
    <!-- Texto a la derecha, imagen a la izquierda -->
    <div class="col-md-6">
      <img src="assets/img/logistica.jpeg" width="400px" class="img img-fluid" alt="Imagen">
    </div>
    <div class="col-md-6">
      <h2 class="text-center">Expert Logistic Support</h2>
      <p>Say goodbye to logistical nightmares. "HIVEX" offers comprehensive logistics support to streamline your
        supply chain. We ensure your products reach your doorstep seamlessly, saving you time and effort.
      </p>
    </div>
  </div>

  <div class="row mt-5">
    <!-- Texto a la izquierda, imagen a la derecha -->
    <div class="col-md-6">
      <h2 class="text-center">Rigorous Quality Control</h2>
      <p>Quality is non-negotiable. Our team of experts conducts stringent quality control checks to guarantee
        that you receive products of the highest standards. Your satisfaction is our priority.</p>
    </div>
    <div class="col-md-6">
      <img src="assets/img/control.jpg" width="400px" class="img img-fluid" alt="Imagen">
    </div>
  </div>
</div>


<app-footer></app-footer>
