<div class="head" [ngClass]="getHeadClass()">
    <div class="head-content">
        <div class="head-content-left">
            <div class="search-container">
                <div class="normal-search">
                    <input type="text" 
                    class="search" name="" id=""
                    placeholder="Search..."
                    >
                    <i class=" far fa-search search-icon"></i>
                </div>
            </div>
        </div>
        <div class="head-content-right">
            <div class="head-menu">
                <div class="head-menu-item">
                    <button class="head-menu-btn ripple">
                        <img [src]="'assets/flags/us.jpg'" class="flag" alt="flag"> 
                    </button>
                </div>
                <div class="head-menu-item">
                    <button class="head-menu-btn ripple">
                        <i class="far fa-expanded menu-icon"></i>
                    </button>
                </div>
                <div class="head-menu-item">
                    <button class="head-menu-btn ripple">
                        <i class="far fa-bell menu-icon"></i>
                    </button>
                </div>
                <div class="head-menu-item">
                    <button class="head-menu-btn ripple">
                        <i class="far fa-comment menu-icon"></i>
                    </button>
                </div>
            </div>
            <div class="head-user-avatar-container">
                <div class="head-user-avatar">
                    <img src="/src/assets/img/hivex1.jpg" alt="user" class="user-avatar">
                    <div class="circle-indicator pulse"></div>
                </div>
            </div>
        </div>
    </div>
</div>
