<app-header-user></app-header-user>

<div class="container-fluid mb-5">
  <div class="row border-top px-xl-5">

    <div class="col-lg-12">
      <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
        <a href="" class="text-decoration-none d-block d-lg-none">
          <h1 class="m-0 display-5 font-weight-semi-bold">
            <img src="assets/img/HIVEXed.png" alt="" />
          </h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav mr-auto py-0">
            <a href="index.html" routerLink="/inicio" class="nav-item nav-link active">Home</a>



            <a  routerLink="/university" class="nav-item nav-link">University</a>
            <a href="contact.html" routerLink="/contact" class="nav-item nav-link">Contact</a>
          </div>
          <div class="navbar-nav ml-auto py-0">
            <a href=""  routerLink="/login" class="nav-item nav-link">Login</a>
            <a routerLink="/register" class="nav-item nav-link">Register</a>
          </div>
        </div>
      </nav>
      <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" style="height: 410px">
            <img class="img-fluid" src="assets/img/iphone.jpg" alt="Image" />
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
              <div class="p-3" style="max-width: 700px">
                <h4 class="text-light text-uppercase font-weight-medium mb-3">
                  10% Off Your First Order
                </h4>
                <h3 class="display-4 text-white font-weight-semi-bold mb-4">
                  Fashionable Dress
                </h3>
                <a href="" class="btn btn-light py-2 px-3">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="carousel-item" style="height: 410px">
            <img class="img-fluid" src="assets/img/mesas.webp" alt="Image" />
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
              <div class="p-3" style="max-width: 700px">
                <h4 class="text-light text-uppercase font-weight-medium mb-3">
                  10% Off Your First Order
                </h4>
                <h3 class="display-4 text-white font-weight-semi-bold mb-4">
                  Reasonable Price
                </h3>
                <a href="" class="btn btn-light py-2 px-3">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
          <div class="btn btn-dark" style="width: 45px; height: 45px">
            <span class="carousel-control-prev-icon mb-n2"></span>
          </div>
        </a>
        <a class="carousel-control-next" href="#header-carousel" data-slide="next">
          <div class="btn btn-dark" style="width: 45px; height: 45px">
            <span class="carousel-control-next-icon mb-n2"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Navbar End -->










<div class="container-fluid pt-5">
  <div class="row px-xl-5 pb-3 ">
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center border mb-4" style="padding: 30px">
        <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
        <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center border mb-4" style="padding: 30px">
        <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
        <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center border mb-4" style="padding: 30px">
        <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
        <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center border mb-4" style="padding: 30px">
        <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
        <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
      </div>
    </div>
  </div>
</div>
<!-- Featured End -->
                          <h2 class=" title text-center">Popular Item</h2>
<section class="py-5">
  <div class="container px-4 px-xl-12 mt-2">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          <div class="col mb-5">
              <div class="card h-100">
                  <!-- Product image-->
                  <img class="card-img-top prod" src="assets/img/muebles.jpg" >
                  <!-- Product details-->
                  <div class="card-body p-4">
                      <div class="text-center">
                          <!-- Product name-->
                          <h5 class="fw-bolder">TV cabinet</h5>
                          <!-- Product price-->
                          $40.00 - $80.00
                      </div>
                  </div>
                  <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a routerLink="/login" class="btn btn-primary btn-outline-dark mt-auto" href="#">View details</a></div>

                  </div>
              </div>
          </div>
          <div class="col mb-5">
              <div class="card h-100">
                  <!-- Sale badge-->
                  <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                  <!-- Product image-->
                  <img class="card-img-top prod" src="assets/img/muebles2.jpg" alt="...">
                  <!-- Product details-->
                  <div class="card-body p-4">
                      <div class="text-center">
                          <!-- Product name-->
                          <h5 class="fw-bolder">Drawer cabinet</h5>
                          <!-- Product reviews-->
                          <div class="d-flex justify-content-center small text-warning mb-2">
                              <div class="bi-star-fill"></div>
                              <div class="bi-star-fill"></div>
                              <div class="bi-star-fill"></div>
                              <div class="bi-star-fill"></div>
                              <div class="bi-star-fill"></div>
                          </div>
                          <!-- Product price-->
                          <span class="text-muted text-decoration-line-through">$20.00</span>
                          $18.00
                      </div>
                  </div>
                  <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                      <div class="text-center"><a routerLink="/login" class="btn btn-primary btn-outline-dark mt-auto" href="#">View details</a></div>
                  </div>
              </div>
          </div>
          <div class="col mb-5">
              <div class="card h-100">
                  <!-- Sale badge-->
                  <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                  <!-- Product image-->
                  <img class="card-img-top prod" src="assets/img/muebles3.jpg" alt="...">
                  <!-- Product details-->
                  <div class="card-body p-4">
                      <div class="text-center">
                          <!-- Product name-->
                          <h5 class="fw-bolder">Window</h5>
                          <!-- Product price-->
                          <span class="text-muted text-decoration-line-through">$50.00</span>
                          $25.00
                      </div>
                  </div>


                  <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a routerLink="/login" class="btn btn-primary btn-outline-dark mt-auto" href="#">View details</a></div>

                  </div>
              </div>
          </div>
          <div class="col mb-5">
              <div class="card h-100">
                  <!-- Product image-->
                  <img class="card-img-top prod" class="card-img-top prod" src="assets/img/mesas.webp" alt="...">
                  <!-- Product details-->
                  <div class="card-body p-4">
                      <div class="text-center">
                          <!-- Product name-->
                          <h5 class="fw-bolder">Dining room</h5>
                          <!-- Product reviews-->
                          <div class="d-flex justify-content-center small text-warning mb-2">
                              <div class="bi-star-fill"></div>
                              <div class="bi-star-fill"></div>
                              <div class="bi-star-fill"></div>
                              <div class="bi-star-fill"></div>
                              <div class="bi-star-fill"></div>
                          </div>
                          <!-- Product price-->
                          $80.00
                      </div>
                  </div>
                  <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a routerLink="/login" class="btn btn-primary btn-outline-dark mt-auto" href="#">View details</a></div>

                  </div>
              </div>
          </div>
          <div class="col mb-5">
              <div class="card h-100">
                  <!-- Sale badge-->
                  <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                  <!-- Product image-->
                  <img class="card-img-top prod" class="card-img-top prod" src="assets/img/sillas.jpg" alt="...">
                  <!-- Product details-->
                  <div class="card-body p-4">
                      <div class="text-center">
                          <!-- Product name-->
                          <h5 class="fw-bolder">Gaming chair</h5>
                          <!-- Product price-->
                          <span class="text-muted text-decoration-line-through">$50.00 -</span>
                          $45.00
                      </div>
                  </div>
                  <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a routerLink="/login" class="btn btn-primary btn-outline-dark mt-auto" href="#">View details</a></div>

                  </div>
              </div>
          </div>
          <div class="col mb-5">
              <div class="card h-100">
                  <!-- Product image-->
                  <img class="card-img-top prod" class="card-img-top prod" src="assets/img/mochila.jpg" alt="...">
                  <!-- Product details-->
                  <div class="card-body p-4">
                      <div class="text-center">
                          <!-- Product name-->
                          <h5 class="fw-bolder">Waterproof backpack</h5>
                          <!-- Product price-->
                          $40.00 - $350.00
                      </div>
                  </div>
                  <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a routerLink="/login" class="btn btn-primary btn-outline-dark mt-auto" href="#">View details</a></div>

                  </div>
              </div>
          </div>
          <div class="col mb-5">
              <div class="card h-100">
                  <!-- Sale badge-->
                  <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                  <!-- Product image-->
                  <img  class="card-img-top prod" class="card-img-top prod" src="assets/img/monitor.jpg" alt="...">
                  <!-- Product details-->
                  <div class="card-body p-4">
                      <div class="text-center">
                          <!-- Product name-->
                          <h5 class="fw-bolder">Computer monitor</h5>
                          <!-- Product reviews-->
                          <div class="d-flex justify-content-center small text-warning mb-2">
                              <div class="bi-star-fill"></div>
                              <div class="bi-star-fill"></div>
                              <div class="bi-star-fill"></div>
                              <div class="bi-star-fill"></div>
                              <div class="bi-star-fill"></div>
                          </div>
                          <!-- Product price-->
                          <span class="text-muted text-decoration-line-through">$20.00</span>
                          $18.00
                      </div>
                  </div>
                  <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a routerLink="/login" class="btn btn-primary btn-outline-dark mt-auto" href="#">View details</a></div>

                  </div>
              </div>
          </div>
          <div class="col mb-5">
              <div class="card h-100">
                  <!-- Product image-->
                  <img  class="card-img-top prod" class="card-img-top prod" src="assets/img/camara.jpeg" alt="...">
                  <!-- Product details-->
                  <div class="card-body p-4">
                      <div class="text-center">
                          <!-- Product name-->
                          <h4 class="fw-bolder">Security camera</h4>
                          <!-- Product reviews-->
                          <div class="d-flex justify-content-center small text-warning mb-2">
                              <div class="bi-star-fill"></div>
                              <div class="bi-star-fill"></div>
                              <div class="bi-star-fill"></div>
                              <div class="bi-star-fill"></div>
                              <div class="bi-star-fill"></div>
                          </div>
                          <!-- Product price-->
                          $40.00
                      </div>
                  </div>
                  <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a routerLink="/login" class="btn btn-primary btn-outline-dark mt-auto" href="#">View details</a></div>

                  </div>
              </div>
          </div>
      </div>
  </div>
</section>









<!-- Categories Start -->
<h2 class=" title text-center">Our popular categories</h2> <br>
<!-- Categories End -->

<div class="container mt-4">
  <div class="row row-cols-2 row-cols-md-2 row-cols-lg-3 g-4">
    <!-- Tarjeta 1 -->
    <div class="col">
      <div class="card  category cat-item d-flex flex-column border mb-4">
        <a href="" class="cat-img position-relative overflow-hidden mb-3"></a>
        <p class="text-right m-2">100 Products</p>
        <a routerLink="/login">
          <img src="assets/img/industria.png" class="img mt-2 card-img-top" alt="Imagen 2" />
        </a>
        <div class="card-body">
          <h5 class="card-title">Home goods</h5>
        </div>
      </div>
    </div>

    <!-- Tarjeta 2 -->
    <div class="col">
      <div class="card w-100 category cat-item d-flex flex-column border mb-4">
        <a href="" class="cat-img position-relative overflow-hidden mb-3"></a>
        <p class="text-right m-2">100 Products</p>
        <a routerLink="/login">
          <img src="assets/img/lap.png" class="img mt-2 card-img-top" alt="Imagen 2" /></a>
        <div class="card-body">
          <h5 class="card-title">Technology</h5>
        </div>
      </div>
    </div>

    <!-- Tarjeta 3 -->
    <div class="col">
      <div class="card  category  cat-item d-flex flex-column border mb-4">
        <a href="" class="cat-img position-relative overflow-hidden mb-3"></a>
        <p class="text-right m-2">100 Products</p>
        <a routerLink="/login">
          <img src="assets/img/zapatos.png" class="img mt-2 card-img-top" alt="Imagen 3" /></a>
        <div class="card-body">
          <h5 class="card-title">Footwear</h5>
        </div>
      </div>
    </div>

    <!-- Tarjeta 4 -->
    <div class="col">
      <div class="card category cat-item d-flex flex-column border mb-4">
        <a href="" class="cat-img position-relative overflow-hidden mb-3"></a>
        <p class="text-right m-2">100 Products</p>
        <a routerLink="/login">
          <img src="assets/img/belleza.png" class="img mt-2 card-img-top" alt="Imagen 4" /></a>
        <div class="card-body">
          <h5 class="card-title">Personal Care</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card  category cat-item d-flex flex-column border mb-4">
        <a href="" class="cat-img position-relative overflow-hidden mb-3"></a>
        <p class="text-right m-2">100 Products</p>
        <br />
        <a routerLink="/login">
          <img src="assets/img/auto.png" class="img mt-2 card-img-top" width="80%" alt="Imagen 4" /></a>
        <div class="card-body">
          <br />
          <h5 class="card-title mt-4">Car accessories</h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card  category cat-item d-flex flex-column border mb-4">
        <a href="" class="cat-img position-relative overflow-hidden mb-3"></a>
        <p class="text-right m-2">100 Products</p>

        <a routerLink="/login"> <br>
          <img src="assets/img/ropa.png" class="img mt-2 card-img-top" alt="Imagen 3" /></a>
        <div class="card-body">
          <br>
          <h5 class="card-title mt-5">Clothes</h5>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Offer Start -->
<div class="container-fluid offer pt-5">
  <div class="row px-xl-5">
    <div class="col-md-6 pb-4">
      <div class="position-relative redondo bg-secondary text-center text-md-right text-white mb-2 py-5 px-5">
        <img src="assets/img/logistica2.png" class="log repartidor" alt="" />
        <div class="position-relative" style="z-index: 1">
          <h5 class="text-uppercase mb-3">Shipments to your warehouse</h5>
          <h1 class="mb-3 font-weight-semi-bold">Best option</h1>
          <a href="" class="btn botton btn-lg py-md-2 px-md-3">Shop Now</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 pb-4">
      <div class="position-relative redondo bg-secondary text-center text-md-left text-white mb-2 py-5 px-5">
        <img src="assets/img/logistica.png" class="log repartidor" alt="" />
        <div class="position-relative" style="z-index: 1">
          <h5 class="text-uppercase mb-3">need help?</h5>
          <h1 class="mb-3 font-weight-semi-bold">Hivex University</h1>
          <a routerLink="/university" target="_blank" class="btn botton py-md-2 btn btn-secondary btn-lg px-md-3">Read more...</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Offer End -->



<div class="container mt-5">
  <h2 class="title text-center">Our affiliates</h2>
  <div class="row">
    <!-- Tarjeta 1 -->

    <div class="container mt-3">
      <div class="row row-cols-2 row-cols-md-2 row-cols-lg-4 g-4">
        <!-- Tarjeta 1 -->
        <div class="col">
          <div class="card h-100" class="cat-item d-flex flex-column  mb-4">
            <a href="" class="cat-img position-relative overflow-hidden mb-3"></a>

            <img src="assets/img/empresa1.jpg" class="empresa mt-2 card-img-top" alt="Imagen 2" />

            <div class="card-body"></div>

          </div>
        </div>

        <!-- Tarjeta 2 -->
        <div class="col">
          <div class="card h-100" class="cat-item d-flex flex-column  mb-4">
            <a href="" class="cat-img position-relative overflow-hidden mb-3"></a>

            <img src="assets/img/empresa2.jpg" class="empresa mt-2 card-img-top"  alt="Imagen 2" />
            <div class="card-body"></div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100" class="cat-item d-flex flex-column  mb-4">
            <a href="" class="cat-img position-relative overflow-hidden mb-3"></a>

            <img src="assets/img/empresa4.png" class="empresa mt-2 card-img-top"  alt="Imagen 2" />
            <div class="card-body"></div>
          </div>
        </div>

        <!-- Tarjeta 3 -->
        <div class="col">
          <div class="card h-100" class="cat-item d-flex flex-column  mb-4">
            <a href="" class="cat-img position-relative overflow-hidden mb-3"></a>

            <img src="assets/img/empresa3.jpg" class="empresa mt-2 card-img-top"  alt="Imagen 3" />
            <div class="card-body"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>