<app-navv></app-navv>
<div class="container">
  <div class="table-container">
    <div class="search-container">
      <input type="text" placeholder="Search" class="search-input" #filter (keyup)="filterData(filter.value)">
      <select class="border p-2 rounded-lg" #pageSize (change)="changePageSize(pageSize.value)">
        <option *ngFor="let size of pageSizes" [value]="size">{{size}}</option>
      </select>
    </div>

    <table class="data-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Producto</th>
          <th>Empresa</th>
          <th>Descripcion</th>
          <th>Stock</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="tableBody">
        <tr *ngFor="let supplier of visibleData(); let i = index" class="border-b hover:bg-gray-100">
          <td class="p-3">{{i+1}}</td>
          <td class="p-3">{{supplier.producto}}</td>
          <td class="p-3">{{supplier.empresa}}</td>
          <td class="p-3">{{supplier.descripcion}}</td>
          <td class="p-3">{{supplier.stock}}</td>
          <td class="p-3"><button class="detail">Edit</button><button class="detail">Delete</button><button class="detail">Details</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination-container">
    <button class="btn bg-cyan-500  px-4 py-2 rounded-l-lg mr-2" (click)="previousPage()">Previous</button>
    <button *ngFor="let pageNumber of pageNumbers(); let i = index" class="btn bg-cyan-500  px-4 py-2 rounded-lg mx-1" [class.bg-cyan-700]="i+1 == currentPage" [class.text-gray-600]="i+1 != currentPage" (click)="changePage(i+1)">{{i+1}}</button>
    <button class="btn bg-cyan-500  px-4 py-2 rounded-r-lg ml-2" (click)="nextPage()">Next</button>
  </div>
</div>
