.container {
  max-width: 1715px;
  margin: 0 auto;
  padding: 20px;
}

.table-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 121px;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.page-size-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th,
.data-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

.data-table th {
  background-color: #f2f2f2;
}

.pagination-container {
  text-align: center;
}

.pagination-container button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  background-color: #ddda37;
  color: #535353;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 15px;
}

.pagination-container button:hover {
  background-color: #6c6d34;
}

.detail{
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #ddda37;
  border: none;
  color: #303030;
  border-radius: 7px;
  
}
