
<app-header-user></app-header-user>
<app-navbar></app-navbar>

  <div class="h-registration-background">
    <div class="h-registration-container">
      <div class="h-horizontal-layout">
        <div class="h-registration-header">
          <h2 class="h-main-title">REGISTRO DE EMPRESA</h2>
        </div>
        <div class="h-image-container">
          <img class="img-fluid h-logo" src="assets/img/company1.png" alt="HIVEX">
        </div>
        <div class="h-content-container">
          <p class="h-image-caption">Introduce los datos de la empresa</p>
          <div class="h-underline"></div>
          <div class="h-registration-form-wrapper">
            <div class="h-form-overlay">DATOS DE LA EMPRESA</div>
            <form (ngSubmit)="onSubmit()" class="h-registration-form">
              <div class="h-form-group2">
                <label for="companyName">NOMBRE DE LA EMPRESA:</label>
                <input type="text" id="companyName" name="companyName" [(ngModel)]="companyName" placeholder="Ingrese el nombre de la empresa" required />
              </div>

              <div class="h-form-group">
                <label for="country">PAÍS:</label>
                <input type="text" id="country" name="country" [(ngModel)]="country" placeholder="Ingrese su país" required />
              </div>

              <div class="h-form-group">
                <label for="productType">TIPO DE PRODUCTOS:</label>
                <input type="text" id="productType" name="productType" [(ngModel)]="productType" placeholder="Ingrese el tipo de producto" required />
              </div>

              <div class="h-form-group">
                <label for="countryCode">TELÉFONO:</label>
                <div class="phone-container">
                  <input type="tel" id="countryCode" name="countryCode" [(ngModel)]="countryCode" placeholder="+" maxlength="4" required />
                  <input type="tel" id="phone" name="phone" [(ngModel)]="phone" (input)="onPhoneChange($event)" maxlength="11" placeholder="Ingrese el número de teléfono" required />
                </div>
              </div>

              <div class="h-form-group">
                <label for="contactName">NOMBRE DEL ENCARGADO:</label>
                <input type="text" id="contactName" name="contactName" [(ngModel)]="contactName" placeholder="Ingrese el nombre del encargado" required />
              </div>

              <div class="h-form-group">
                <label for="contactRFC">RFC DEL ENCARGADO:</label>
                <input type="text" id="contactRFC" name="contactRFC" [(ngModel)]="contactRFC" placeholder="Ingrese el RFC del encargado" required />
              </div>
              <br>

              <button type="submit" routerLink="/dashboardSeller" class="h-submit-button">Registrar Empresa</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<app-footer></app-footer>
