body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h-registration-background {
  background-color: #ffffff;
  padding-top: 50px;
  padding-bottom: 100px;
}

.h-registration-container {
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  max-width: 1200px;
  box-sizing: border-box;
  overflow: hidden;
  color: #2c2c2c;
  display: flex;
  flex-wrap: wrap;
}

.h-image-container {
  flex: 1 1 50%;
  text-align: center;
  padding: 10px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.h-registration-form {
  flex: 1 1 50%;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid #969696;
  position: relative;
  margin: 10px;
}

.h-main-title {
  font-size: 2em;
  color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.h-form-group,
.h-form-group2 {
  margin-bottom: 9px;
}

.h-form-group input,
.h-form-group2 input {
  width: 100%;
  padding: 7px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 8px;
}

.phone-container {
  display: flex;
  align-items: center;
}

#countryCode {
  width: 80px;
  margin-right: 10px;
}

#phone {
  width: calc(100% - 90px);
}

#countryCode::placeholder {
  color: #999;
}

.h-submit-button {
  background-color: #f9dd1e;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.h-submit-button:hover {
  background-color: #dc9a0a;
}

@media screen and (orientation: portrait) {
  body {
    margin: 20px;
  }

  .h-registration-form {
    margin-top: 30px;
  }

  .h-image-container,
  .h-registration-form {
    width: calc(100% - 20px);
    margin: 10px;
  }

  .h-form-overlay {
    left: 5%;
    margin-left: 20px;
  }

  .h-form-group2 {
    margin-top: 20px;
  }
}

.h-image-caption {
  text-align: left;
  margin-top: 10px;
  font-size: 18px;
  margin-left: 20px;
}

.h-underline {
  width: 26%;
  height: 5px;
  margin-left: 20px;
  background-color: #f9dd1e;
  margin-bottom: 30px;
}

.h-registration-form-wrapper {
  position: relative;
}

.h-form-overlay {
  position: absolute;
  top: -15px;
  margin-left: 110px;
  transform: translateX(-40%);
  background-color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  z-index: 1;
  font-size: 90%;
}

.navmenu {
  background-color: #676767;
  overflow: hidden;
}

.nav-logo {
  width: 200px;
  float: left;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: -5px;
}
