<app-header-user></app-header-user>

<div class="container-fluid mb-5">
  <div class="row border-top px-xl-5">
    <div class="col-lg-12">
      <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
        <a href="" class="text-decoration-none d-block d-lg-none">
          <h1 class="m-0 display-5 font-weight-semi-bold">
            <img src="assets/img/HIVEXed.png" alt="" />
          </h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav mr-auto py-0">
            <a href="index.html" routerLink="/inicio" class="nav-item nav-link active">Home</a>
            <a routerLink="/university" class="nav-item nav-link">University</a>
            <a href="contact.html" routerLink="/contact" class="nav-item nav-link">Contact</a>
          </div>
          <div class="navbar-nav ml-auto py-0">
            <a routerLink="/login" class="nav-item nav-link">Login</a>
            <a routerLink="/register" class="nav-item nav-link">Register</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>

<!-- Jumbotron -->
<div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
  <div class="container">
    <div class="row gx-lg-5 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <h1 class="my-5 display-3 fw-bold ls-tight">
          WELCOME <br /> TO
          <span class="text-primary">HIVEX</span>
        </h1>
        <p style="color: hsl(217, 10%, 50.8%)">
          HIVEX is an application for users and sellers where you can negotiate and buy products
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card">
          <div class="card-body py-5 px-md-5">
            <form [formGroup]="LoginForm" (ngSubmit)="login()">
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <H1>LOGIN</H1>
              <div class="row">
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example3">Email address</label>
                <input type="email" placeholder="Enter your email" formControlName="email" id="form3Example3"
                  class="form-control" />

                <span *ngIf="LoginForm.get('email')?.hasError('required') && LoginForm.get('email')?.touched"
                  class="text-danger errorLabel">
                  <strong>Email</strong> it is required.
                </span>
                <span *ngIf="LoginForm.get('email')?.hasError('email') && LoginForm.get('email')?.touched"
                  class="text-danger errorLabel">
                  <strong>Email</strong> It's not valid
                </span>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example4">Password</label>
                <input type="password" placeholder="Enter your password" formControlName="password" id="form3Example4"
                  class="form-control" />

                <span *ngIf="LoginForm.get('password')?.hasError('required') && LoginForm.get('password')?.touched"
                  class="text-danger errorLabel">
                  <strong>Password</strong> it is required.
                </span>
                <span *ngIf="LoginForm.get('password')?.hasError('minlength') && LoginForm.get('password')?.touched"
                  class="text-danger errorLabel">
                  <strong>Password</strong> It must have a minimum of 6 characters.
                </span>
              </div>

              <!-- Checkbox -->
              <div class="d-flex justify-content-center align-items-center">
                <button class="btn btn-success" [disabled]="loading" *ngIf="loading">
                  <span class="spinner-border spinner-border-sm mb-2"></span>
                  Loading..
                </button>
              </div> <br>

              <!-- Submit button -->
              <button type="submit" *ngIf="!loading" [disabled]="LoginForm.invalid" class="btn btn-primary btn-block mb-4">
                Sign in
              </button>

              <!-- Register buttons -->

            </form>
            or Sign in with: <br>
            <button (click)="signInWithGoogle()" class="btn google-signin-button" style="background-color: transparent; border: none;">
              <i class="fab fa-google" style="color: #FFD700; font-size: 24px;" 
                onmouseover="this.style.color = 'black'" onmouseout="this.style.color = '#FFD700'"></i>
            </button>
            <div class="text-center">
              <a routerLink="/register">
                <p>Not a member? Register</p>
              </a>


            </div>

            
            

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
