<app-navv></app-navv>

<div class="container">
    <h1>Agregar Producto</h1>
    <form id="product-form" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Nombre del Producto:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="category">Categoría:</label>
            <input type="text" id="category" name="category" required>
        </div>
        <div class="form-group">
            <label for="price">Precio:</label>
            <input type="number" id="price" name="price" required>
        </div>
        <div class="form-group">
            <label for="stock">Stock:</label>
            <input type="number" id="stock" name="stock" required>
        </div>
        <div class="form-group">
            <label for="description">Descripción:</label>
            <textarea id="description" name="description" rows="4" required></textarea>
        </div>
        <div class="form-group">
            <label for="image">Imagen:</label>
            <input type="file" id="image" name="image" accept="image/*" required>
        </div>
        <button type="submit">Agregar Producto</button>
    </form>
  </div>