<!-- Footer Start -->
<div class="container-fluid bg-secondary text-dark mt-5 pt-5">
  <div class="row px-xl-5 pt-5">
    <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
      <a href="" class="text-decoration-none">
        <h1 class="mb-4 display-5 font-weight-semi-bold">
          <span class="text-primary font-weight-bold  border-white px-3 mr-1"><img src="assets/img/HIVEX.png"
              width="190px" class="img" /></span>
        </h1>
      </a>
      <p>
        At HIVEX, we are not just another digital marketplace; we are your trusted partner in sourcing top-tier
        manufacturing solutions from over 12,000 Mexican factories, right at your fingertips. Wondering why you should
        choose us? Here’s why:
      </p>

    </div>
    <div class="col-lg-8 col-md-12">
      <div class="row">
        <div class="col-md-4 mb-5">
          <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
          <div class="d-flex flex-column justify-content-start">
            <a class="text-dark mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Home</a>
            <a class="text-dark mb-2" href="shop.html"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>

          </div>
        </div>
        <div class="col-md-4 mb-5">
          <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
          <div class="d-flex flex-column justify-content-start">
            <a class="text-dark mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Home</a>
            <a class="text-dark mb-2" href="shop.html"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>

          </div>
        </div>
        <div class="col-md-4 mb-5">
          <h5 class="font-weight-bold text-dark mb-4">Newsletter</h5>
          <form action="">
            <div class="form-group">
              <input type="text" class="form-control border-0 py-4" placeholder="Your Name" required="required" />
            </div>
            <div class="form-group">
              <input type="email" class="form-control border-0 py-4" placeholder="Your Email" required="required" />
            </div>
            <div>

            </div>
          </form>
          <a href="https://drive.google.com/drive/folders/1dRif_yZusYD4a9dimh9n-O298YpDiofi?usp=sharing">
          <img src="assets/img/playStore.png" width="150px"></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer End -->
</div>
